<configuration>

	<statusListener
		class="ch.qos.logback.core.status.NopStatusListener" />

	<timestamp key="timestamp" datePattern="yyyy-MM-dd" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/${timestamp}_bscFileScraper.log</file>
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%level] %logger - %message%n%xException
			</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{HH:mm:ss.SSS} [%level] %logger - %message%n%xException
			</Pattern>
		</layout>
	</appender>

    <logger name="org" level="error" />
    <logger name="hwu.elixir.scrape" level="debug" />
    <logger name="org.apache.any23" level="info" />

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
    
</configuration>
