<configuration>

	<statusListener
		class="ch.qos.logback.core.status.NopStatusListener" />

	<timestamp key="timestamp" datePattern="yyyy-MM-dd" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${user.home}/${timestamp}_bscFileScraper.log</file>
		<append>scraper.log</append>
		<encoder>
			<pattern>[%level] %message%n%xException
			</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%msg%n
			</Pattern>
		</layout>
	</appender>

	<root level="error">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

	<root level="INFO"> <appender-ref ref="FILE" /> </root>

</configuration>
