<!doctype html>
<html>
 <head> 
  <!-- Your [project-name] here --> 
  <meta name="author" content="biosamples"> 
  <meta name="HandheldFriendly" content="true"> 
  <meta name="MobileOptimized" content="width"> 
  <meta name="viewport" content="width=device-width,initial-scale=1"> 
  <meta name="theme-color" content="#70BDBD"> 
  <!-- Android Chrome mobile browser tab color --> 
  <!-- Add information on the life cycle of this page --> 
  <meta name="ebi:owner" content="Tony Burdett"> 
  <!-- Who should be contacted about changes --> 
  <meta name="ebi:review-cycle" content="365"> 
  <!-- In days, how often should the content be reviewed --> 
  <!-- If you link to any other sites frequently, consider optimising performance with a DNS prefetch --> 
  <!-- <link rel="dns-prefetch" href="//embl.de" /> --> 
  <title>BioSamples &lt; EMBL-EBI</title> 
  <!-- If you have custom icon, replace these as appropriate.
       You can generate them at realfavicongenerator.net --> 
  <link rel="icon" type="image/x-icon" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/favicon.ico"> 
  <link rel="icon" type="image/png" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/favicon-32x32.png"> 
  <link rel="icon" type="image/png" sizes="192×192" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/android-chrome-192x192.png"> 
  <!-- Android (192px) --> 
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/apple-icon-114x114.png"> 
  <!-- For iPhone 4 Retina display (114px) --> 
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/apple-icon-72x72.png"> 
  <!-- For iPad (72px) --> 
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/apple-icon-144x144.png"> 
  <!-- For iPad retinat (144px) --> 
  <link rel="apple-touch-icon-precomposed" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/apple-icon-57x57.png"> 
  <!-- For iPhone (57px) --> 
  <link rel="mask-icon" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/safari-pinned-tab.svg" color="#ffffff"> 
  <!-- Safari icon for pinned tab --> 
  <meta name="msapplication-TileImage" content="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/favicons/mstile-144x144.png"> 
  <!-- CSS: implied media=all --> 
  <!-- CSS concatenated and minified via ant build script--> 
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/css/ebi-global.css" type="text/css" media="all"> 
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.3/fonts.css" type="text/css" media="all"> 
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/css/theme-embl-petrol.css" type="text/css" media="all"> 
  <!-- Use this CSS file for any custom styling --> 
  <link rel="stylesheet" href="/biosamples/css/style.css" type="text/css" media="all"> 
  <!--<link rel="stylesheet" th:href="@{/css/shield.css}" type="text/css" media="all" />--> 
  <!--<link rel="stylesheet" th:href="@{/css/card.css}" type="text/css" media="all" />--> 
  <!--<link rel="stylesheet" th:href="@{/css/facet.css}" type="text/css" media="all" />--> 
  <!--<link rel="stylesheet" th:href="@{/css/autocomplete.css}" type="text/css" media="all" />--> 
  <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">--> 
  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>--> 
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"> 
  <!-- If you have a custom header image or colour --> 
  <!--
  <meta name="ebi:localmasthead-color" content="#000" />
  <meta name="ebi:localmasthead-image" content="https://www.ebi.ac.uk/web_guidelines/EBI-Framework/images/backgrounds/embl-ebi-background.jpg" />
  --> 
  <!-- end CSS--> 
  <!-- All JavaScript at the bottom, except for Modernizr --> 
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script> 
  <script>hljs.initHighlightingOnLoad();</script> 
  <script type="application/ld+json">{
  "@context" : [ "http://schema.org", {
    "OBI" : "http://purl.obolibrary.org/obo/OBI_",
    "biosample" : "http://identifiers.org/biosample/"
  } ],
  "@type" : "DataRecord",
  "@id" : "biosample:SAMEA4999347",
  "identifier" : "biosample:SAMEA4999347",
  "dateCreated" : "2018-08-15T23:00:00Z",
  "dateModified" : "2019-07-26T11:17:45.95Z",
  "mainEntity" : {
    "@id" : "https://www.ebi.ac.uk/biosamples/samples/SAMEA4999347",
    "@type" : [ "Sample", "OBI:0000747" ],
    "identifier" : [ "biosample:SAMEA4999347" ],
    "name" : "RWG-240",
    "description" : "rice chloroplast analysis",
    "url" : "https://www.ebi.ac.uk/biosamples/samples/SAMEA4999347",
    "additionalProperty" : [ {
      "@type" : "PropertyValue",
      "name" : "common name",
      "value" : "Rice",
      "valueReference" : [ {
        "@id" : "http://purl.obolibrary.org/obo/NCBITaxon_4530",
        "@type" : "DefinedTerm"
      } ]
    }, {
      "@type" : "PropertyValue",
      "name" : "organism",
      "value" : "Oryza sativa",
      "valueReference" : [ {
        "@id" : "http://purl.obolibrary.org/obo/NCBITaxon_4530",
        "@type" : "DefinedTerm"
      } ]
    }, {
      "@type" : "PropertyValue",
      "name" : "scientific name",
      "value" : "Oryza sativa",
      "valueReference" : [ {
        "@id" : "http://purl.obolibrary.org/obo/NCBITaxon_4530",
        "@type" : "DefinedTerm"
      } ]
    }, {
      "@type" : "PropertyValue",
      "name" : "submission description",
      "value" : "This work was carried out with the support of “Cooperative Research Program for Agriculture Science and Technology Development (Project No. PJ01116101)” Rural Development Administration, Republic of Korea. This research was supported by Bio-industry Technology Development Program(115078-2), Ministry of Agriculture, Food and Rural Affairs."
    }, {
      "@type" : "PropertyValue",
      "name" : "submission identifier",
      "value" : "GSB-509"
    }, {
      "@type" : "PropertyValue",
      "name" : "submission title",
      "value" : "Rice evolution analysis based on the chloroplast genome"
    } ],
    "sameAs" : "http://identifiers.org/biosample/SAMEA4999347"
  },
  "isPartOf" : {
    "@type" : "Dataset",
    "@id" : "https://www.ebi.ac.uk/biosamples/samples"
  }
}</script> 
 </head> 
 <body> 
  <header id="masthead-black-bar" class="clearfix masthead-black-bar"> 
  </header> 
  <div id="content"> 
   <div data-sticky-container> 
    <div id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="main-content-area:top" data-btm-anchor="main-content-area:bottom"> 
     <div class="masthead-inner row"> 
      <!-- local-title --> 
      <div class="columns medium-7" id="local-title"> 
       <h1> <img src="/biosamples/images/logo_biosamples.png" alt="BioSamples logo"> <a href="/biosamples/" title="to BioSamples homepage">BioSamples</a> </h1> 
      </div> 
      <!-- /local-title --> 
      <!-- local-search --> 
      <div class="columns medium-5"> 
       <form id="local-search" name="local-search" action="/biosamples/samples" method="get"> 
        <fieldset> 
         <!--<input type="hidden" name="filter" th:each="filter : ${filters}" th:value="@{${filter}}">--> 
         <div class="input-group margin-bottom-none"> 
          <input type="text" name="text" id="local-searchbox" placeholder="Search" class="input-group-field" value=""> 
          <div class="input-group-button">
           <input type="submit" class="button icon icon-functional" value="1">
          </div> 
         </div> 
         <small class=""> 
          <!-- If your search is more complex than just a keyword search, you can link to an Advanced Search --> 
          <!-- <span class="adv"><a href="../search" id="adv-search" title="Advanced">Advanced</a></span> | --> 
          <!-- Include some example searchterms - keep them short and few. --> <a href="/biosamples/samples?text=leukaemia">leukaemia</a>, <a href="/biosamples/samples?text=viridiplantae">viridiplantae</a>, <a href="/biosamples/samples?text=sheep+liver">sheep liver</a> </small> 
        </fieldset> 
       </form> 
      </div> 
      <!-- /local-search --> 
      <!-- local-nav --> 
      <nav> 
       <ul class="menu float-left" data-description="navigational"> 
        <li class=""><a href="/biosamples/">Home</a></li> 
        <li class=""><a href="/biosamples/samples">Search</a></li> 
        <li class=""><a href="https://www.ebi.ac.uk/biosamples/sampletab">Submit</a></li> 
        <li class=""><a href="/biosamples/docs">Documentation</a></li> 
        <li class=""><a href="/biosamples/about">About</a></li> 
       </ul> 
      </nav> 
      <!-- /local-nav --> 
     </div> 
    </div> 
   </div> 
   <div id="main-content-area" class="row padding-top-xlarge padding-right-xlarge padding-left-xlarge sample"> 
    <div class="columns medium-12 large-10 s__header"> 
     <h2 class="sh__title">SAMEA4999347</h2> 
     <h3 class="sh__subtitle">RWG-240</h3> 
     <table class="sh__datetimes"> 
      <tbody>
       <tr> 
        <th>Released on</th> 
        <td>2018 / 08 / 15 23:00:00 UTC</td> 
       </tr> 
       <tr> 
        <th>Updated on</th> 
        <td>2019 / 07 / 26 11:17:45 UTC</td> 
       </tr> 
      </tbody>
     </table> 
    </div> 
    <div class="columns large-2 hide-for-medium-only"> 
     <h4>Download as:</h4> 
     <ul class="vertical dropdown menu"> 
      <li><a href="/biosamples/samples/SAMEA4999347.xml" download>XML</a></li> 
      <li><a href="/biosamples/samples/SAMEA4999347.json" download>JSON</a></li> 
      <li><a href="/biosamples/samples/SAMEA4999347.ldjson" download>Bioschemas</a></li> 
      <li><a href="/biosamples/samples/SAMEA4999347.pxf" download>Phenopacket</a></li> 
     </ul> 
    </div> 
    <div class="columns s__details"> 
     <section> 
      <h3>Contacts</h3> 
      <table> 
       <thead> 
        <tr> 
         <th colspan="2">Cheng Lin</th> 
        </tr> 
       </thead> 
       <tbody> 
        <tr> 
         <td width="200">E-mail</td> 
         <td>chenglin20170390@gmail.com</td> 
        </tr> 
       </tbody> 
      </table> 
     </section> 
     <section> 
      <h3>Organizations</h3> 
      <table> 
       <thead> 
        <tr> 
         <th colspan="2">Plant Resources</th> 
        </tr> 
       </thead> 
       <tbody> 
        <tr> 
         <td width="200">Address</td> 
         <td>Department of Plant Resources, College of Industrial Science, Kongju National University, Yesan 340-702, Republic of Korea</td> 
        </tr> 
       </tbody> 
      </table> 
     </section> 
     <section> 
      <h3>Attributes</h3> 
      <table class="hover"> 
       <thead> 
        <tr> 
         <th>Type</th> 
         <th>Value</th> 
        </tr> 
       </thead> 
       <tbody> 
        <tr> 
         <td>common name</td> 
         <td><a href="http://www.ebi.ac.uk/ols/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCBITaxon_4530" target="_blank">Rice</a></td> 
        </tr> 
        <tr> 
         <td>description</td> 
         <td>rice chloroplast analysis</td> 
        </tr> 
        <tr> 
         <td>organism</td> 
         <td><a href="http://www.ebi.ac.uk/ols/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCBITaxon_4530" target="_blank">Oryza sativa</a></td> 
        </tr> 
        <tr> 
         <td>scientific name</td> 
         <td><a href="http://www.ebi.ac.uk/ols/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCBITaxon_4530" target="_blank">Oryza sativa</a></td> 
        </tr> 
        <tr> 
         <td>submission description</td> 
         <td>This work was carried out with the support of “Cooperative Research Program for Agriculture Science and Technology Development (Project No. PJ01116101)” Rural Development Administration, Republic of Korea. This research was supported by Bio-industry Technology Development Program(115078-2), Ministry of Agriculture, Food and Rural Affairs.</td> 
        </tr> 
        <tr> 
         <td>submission identifier</td> 
         <td>GSB-509</td> 
        </tr> 
        <tr> 
         <td>submission title</td> 
         <td>Rice evolution analysis based on the chloroplast genome</td> 
        </tr> 
       </tbody> 
      </table> 
     </section> 
     <section> 
      <h3>Relationships</h3> 
      <table> 
       <thead> 
        <tr> 
         <th>Source</th> 
         <th>Type</th> 
         <th>Target</th> 
        </tr> 
       </thead> 
       <tbody> 
        <tr> 
         <td><a href="SAMEG4750728">SAMEG4750728</a></td> 
         <td>has member</td> 
         <td><a href="SAMEA4999347">SAMEA4999347</a></td> 
        </tr> 
       </tbody> 
      </table> 
     </section> 
    </div> 
    <div class="columns small-12 s__serialization show-for-medium-only"> 
     <h4>Download as:</h4> 
     <ul class="vertical dropdown menu"> 
      <li><a href="/biosamples/samples/SAMEA4999347.xml" download>XML</a></li> 
      <li><a href="/biosamples/samples/SAMEA4999347.json" download>JSON</a></li> 
      <li><a href="/biosamples/samples/SAMEA4999347.ldjson" download>Bioschemas</a></li> 
      <li><a href="/biosamples/samples/SAMEA4999347.pxf" download>Phenopacket</a></li> 
     </ul> 
    </div> 
   </div> 
  </div> 
  <footer> 
   <!-- Optional local footer (insert citation / project-specific copyright / etc here --> 
   <!--
              <div id="local-footer">
                <div class="row">
                  <span class="reference">How to reference this page: ...</span>
                </div>
              </div>
         --> 
   <div id="elixir-banner" data-color="grey" data-name="BioSamples Database" data-description="BioSamples is an Elixir Deposition Database" data-more-information-link="https://www.elixir-europe.org/platforms/data/elixir-deposition-databases" data-use-basic-styles="false"></div> 
   <!-- End optional local footer --> 
   <div id="global-footer" class="global-footer"> 
    <nav id="global-nav-expanded" class="row global-nav-expanded"> 
     <!-- Footer will be automatically inserted by footer.js --> 
    </nav> 
    <section id="ebi-footer-meta" class="row ebi-footer-meta"> 
     <!-- Footer meta will be automatically inserted by footer.js --> 
    </section> 
   </div> 
  </footer> 
  <!-- JavaScript --> 
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline --> 
  <!--
    <script>window.jQuery || document.write('<script src="../js/libs/jquery-1.10.2.min.js"><\/script>')</script>
    --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
  <!-- Your custom JavaScript file scan go here... change names accordingly --> 
  <!--
      <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/plugins.js"></script>
      <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/script.js"></script>
    --> 
  <script defer src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/elixirBanner.js"></script> 
  <script defer src="/biosamples/js/jquery.autocomplete.min.js"></script> 
  <script>
        $(document).ready(function() {
            $('#local-searchbox').autocomplete({
                serviceUrl: '/biosamples/samples/autocomplete',
                paramName: 'text',
                onSelect: function (suggestion) {
                    //alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
                    //location.href = '/biosamples/samples?'+$.param({text:suggestion.value});
                }
            });
            let $filterApplyButton = $("#filter-apply");
            let $filterClearButton = $("#filter-clear");
            let $filtersCheckboxes = $(".facet-checkbox");
            let $originalState = [];
            let $changeState = [];

            $(".facet").each(function(index, elem) {
                $originalState[index] = $(elem).hasClass("secondary");
                $changeState[index] = $originalState[index];
            });

            $filtersCheckboxes.each(function(index,elem){
                $(elem).on("click", function(){
                    $changeState[index] = !$changeState[index];
                    if (!equals($originalState, $changeState)) {
                        $filterApplyButton.prop('disabled', false);
                    } else {
                        $filterApplyButton.prop('disabled', true);
                    }
                })
            });

            function equals(array1, array2) {
                return array1.toString() === array2.toString();
            }

        });
	</script> 
  <script defer src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/script.js"></script> 
  <!-- The Foundation theme JavaScript --> 
  <script src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/libraries/foundation-6/js/foundation.js"></script> 
  <script src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/foundationExtendEBI.js"></script> 
  <script type="text/JavaScript">$(document).foundation();</script> 
  <script type="text/JavaScript">$(document).foundationExtendEBI();</script>   
 </body>
</html>